<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-mrodriguez-portfolio-fsc6fyhqfbgxafdc.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cd6652c4-8bdb-4766-9f9b-92444d21acaf/resourceGroups/rg-mrodriguez-portfolio/providers/Microsoft.Web/sites/func-mrodriguez-portfolio</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://func-mrodriguez-portfolio-fsc6fyhqfbgxafdc.scm.brazilsouth-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>